beautifulsoup4==4.12.3
celery==5.4.0
Django==5.1.1
django-bootstrap5==24.3
django-ckeditor==6.7.1
django-select2==8.2.1
django-tempus-dominus==5.1.2.17
gunicorn==23.0.0
openpyxl==3.2.0b1
sqlalchemy==2.0.35