beautifulsoup4==4.11.1
celery==5.2.7
Django==4.2.11
django-bootstrap5==23.4
django-tempus-dominus==5.1.2.17
django-ckeditor==6.5.1
django-generate-secret-key==1.0.2
django-js-asset==2.0.0
django-select2==8.1.2
openpyxl==3.0.10
psycopg2-binary==2.9.3
redis==4.4.4
uWSGI==2.0.22
