{% load django_bootstrap5 %}
{% load i18n %}

<form class="modal-form" method="post" action="{% url 'Authent:add_region_user' regionid %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans 'Add Region Member' %}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if user_already_exists %}
                    <div class="alert alert-danger alert-dismissible">
                        <strong>{% trans 'This user is already in this region.' %}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% csrf_token %}
                {% bootstrap_form userregionform %}
            </div>
            <div class="modal-footer">
                <input name="add" class="btn btn-primary" type="submit" value="Add"/>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>
