{% load django_bootstrap5 %}
{% load i18n %}
<form class="modal-form" method="post" action="{% url 'Authent:edit_entity' entityid %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans 'Edit Entity' %}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if entity_already_exists %}
                    <div class="alert alert-danger alert-dismissible" id="error">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <strong>{% trans 'This entity already exists.' %}</strong><br/>
                    </div>
                {% endif %}
                {% csrf_token %}
                {% bootstrap_form entityform %}
            </div>
            <div class="modal-footer">
                <input name="save" class="btn btn-primary" type="submit" value="Save"/>
                <input name="cancel" class="btn" type="submit" value="Cancel" data-dismiss="modal"/>
            </div>
        </div>
    </div>
</form>
