{% load django_bootstrap5 %}
{% load i18n %}
<form class="modal-form" method="post" action="{% url 'Authent:edit_region' regionid %}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>{% trans 'Edit Region' %}</h3>

      </div>
      <div class="modal-body">
        {% if region_already_exists %}
          <div class="alert alert-danger alert-dismissible" id="error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{% trans 'This region already exists.' %}</strong><br/>
          </div>
        {% endif %}
        {% csrf_token %}
        {% bootstrap_form regionform %}
      </div>
      <div class="modal-footer">
           <input name="save" class="btn btn-primary" type="submit" value="Save" />
           <input name="cancel" class="btn" type="submit" value="Cancel" data-dismiss="modal"/>
      </div>
    </div>
  </div>
</form>
