{% load django_bootstrap5 %}
{% load i18n %}

<form class="modal-form" method="post" action="{% url 'Authent:myprofile' %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans 'Edit My Profile' %}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if user_already_exists %}
                    <div class="alert alert-danger alert-dismissible" id="error">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <strong>{% trans 'This mail address already exists.' %}</strong><br/>
                    </div>
                {% endif %}
                {% csrf_token %}
                {% bootstrap_form userform %}
                {% bootstrap_form swordphishform %}
            </div>
            <div class="modal-footer">
                <input name="save" class="btn btn-primary" type="submit" value="Save"/>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>
