{% load django_bootstrap5 %}
{% load i18n %}

<form class="modal-form" method="post" action="{% url 'Authent:edit_entity' entityid %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans 'Edit Entity' %}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if entity_already_exists %}
                    <div class="alert alert-danger alert-dismissible">
                        <strong>{% trans 'This entity already exists.' %}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% csrf_token %}
                {% bootstrap_form entityform %}
            </div>
            <div class="modal-footer">
                <input name="save" class="btn btn-primary" type="submit" value="Save"/>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>
