{% extends 'Main/bootstrap.html' %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block title %}Login{% endblock %}

{% block bootstrap5_content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{% trans 'Log in failed!' %}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                <img src="{% static 'img/logo.jpg' %}" alt="Logo"/>
                <h2 class="mt-2">{% trans 'Sign in to SwordPhish' %}</h2>

                <form class="mt-3" role="form" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">{% trans "Email address" %}</label>
                        <input type="email" class="form-control" id="username" name="username"
                               placeholder="{% trans "Email address" %}" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">{% trans "Password" %}</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="{% trans "Password" %}" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember" name="remember">
                        <label class="form-check-label" for="remember">{% trans 'Keep me signed' %}</label>
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans 'Sign in' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
