{% load django_bootstrap5 %}
{% load i18n %}
<form class="form-inline">
	<div class="form-group">
		<label class="control-label" for="add_admin_button">{% trans "Modify Region" %}</label>
			<button id="add_admin_button" type="submit" class="form-control btn btn-primary edit" data-toggle="modal" data-form="{% url 'Authent:edit_region' regionid %}" data-target="#modal">Edit Region</button>
			<button id="add_admin_button" type="submit" class="form-control btn btn-primary add" data-toggle="modal" data-form="{% url 'Authent:add_region_user' regionid %}" data-target="#modal">Add User</button>
	</div>
	</div>
</form>
<h3 class="page-header">{% trans 'Existing Users' %}</h3>
<div>
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>{% trans "First name" %}</th>
	            <th>{% trans "Last name" %}</th>
	            <th>{% trans "Email" %}</th>
	            <th>{% trans "Phone" %}</th>
	            <th>&nbsp;</th>
	        </tr>
		</thead>
		<tbody>
			{% for user in userslist %}
			<tr>
				<td class="vert-align">{{ user.user.first_name }}</td>
				<td class="vert-align">{{ user.user.last_name }}</td>
				<td class="col-md-2 vert-align">{{ user.user.email }}</td>
				<td class="col-md-2 vert-align">{{ user.phone_number }}</td>
				<td class="col-md-1 vert-align">
					<button type="button" class="btn btn-default edit btn-xs" data-toggle="modal" data-form="{% url 'Authent:remove_region_user' regionid user.id %}" data-target="#modal">
					  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
