{% extends 'LocalUsers/bootstrap.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% trans alert %}


{% block bootstrap3_extra_head %}
<link href="/static/custom_css/login.css" rel="stylesheet">
{% endblock %}

{% block bootstrap3_content %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container">
    <form class="form-signin" enctype="multipart/form-data" method="post" action="{% url 'Authent:loginchangepwd' %}">
        <img class="img-responsive" src="/static/img/logo.jpg" alt="Logo" />
        <h2 class="form-signin-heading">{% trans 'Change your password'%}</h2>

      	{% csrf_token %}
        {% bootstrap_form changepassform %}
        {% bootstrap_form swordphishform %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Update informations' %}</button>
    </form>
  </div>


{% endblock %}
