{% extends 'LocalUsers/bootstrap.html' %}

{% load django_bootstrap5 %}
{% load i18n %}
{% trans alert %}


{% block django_bootstrap5_extra_head %}
    <link href="/static/custom_css/login.css" rel="stylesheet">
{% endblock %}

{% block django_bootstrap5_content %}
	{% bootstrap_messages %}

	<div class="container">
    <form class="form-signin" enctype="multipart/form-data" action="#">
        <img class="img-responsive" src="/static/img/logo.jpg" alt="Logo" />
        <h2 class="form-signin-heading">{% trans 'Check your mailbox'%}</h2>
        <center><p>An email has been sent with your new credentials</p></center>
        <a class="btn btn-lg btn-primary btn-block" href="{% url 'Authent:login' %}">{% trans 'Back to login' %}</a>
    </form>
  </div>
{% endblock %}