{% load django_bootstrap5 %}
{% load i18n %}

<form class="modal-form" method="post" action="{% url 'Authent:remove_entity_admin' entity.id admin.id %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans 'Remove Entity Admin' %}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if not_entity_admin %}
                    <div class="alert alert-danger alert-dismissible">
                        <strong>{% trans 'This user is not admin of this entity.' %}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% csrf_token %}
                <label class="control-label" for="entityname">{% trans "Entity" %}</label>
                <input id="entityname" type="text" name="entityname" class="form-control" value="{{ entity.name }}"
                       readonly>
                <label class="control-label" for="adminname">{% trans "Admin" %}</label>
                <input type="text" id="adminname" name="adminname" class="form-control" value="{{ admin }}" readonly>
                <div class="modal-footer">
                    <input name="remove" class="btn btn-primary" type="submit" value="Confirm"/>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
