{% extends 'Main/base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}


{% block swordphish_content %}

    <div class="modal fade" id="modal" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true"></div>
    
    <div class="starter-template">
        <h3 class="page-header">{% trans 'Running Campaigns' %}</h3>
        <div class="dynamic" id="users" data-form="{% url 'Main:campaign_list_running_campaigns' %}"></div>
    </div>

{% endblock %}
