{% load django_bootstrap5 %}
{% load i18n %}

<form class="modal-form" enctype="multipart/form-data" method="post"
      action="{% url 'Main:campaign_submit_reported_ids' campaign.id %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans 'Submit report ids' %}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {% bootstrap_form reportform %}
            </div>
            <div class="modal-footer">
                <input name="create" class="btn btn-primary" type="submit" value="Submit"/>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>
