{% load django_bootstrap5 %}
{% load i18n %}
<form class="modal-form" enctype="multipart/form-data" method="post"
      action="{% url 'Main:campaign_test_campaign' campaign.id %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans 'Test campaign' %}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if connect_error %}
                    <div class="alert alert-danger alert-dismissible" id="error">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <strong>{% trans 'SMTP server not reachable !' %}</strong><br/>
                    </div>
                {% endif %}
                {% csrf_token %}
                {% bootstrap_form campaignform %}
            </div>
            <div class="modal-footer">
                <input name="create" class="btn btn-primary" type="submit" value="Send mail"/>
                <input name="cancel" class="btn" type="submit" value="Cancel" data-dismiss="modal"/>
            </div>
        </div>
    </div>
</form>
