{% load django_bootstrap5 %}
{% load i18n %}

<form class="modal-form" enctype="multipart/form-data" method="post"
      action="{% url 'Main:campaign_test_campaign' campaign.id %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans 'Test campaign' %}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if connect_error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{% trans 'SMTP server not reachable!' %}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% csrf_token %}
                {% bootstrap_form campaignform %}
            </div>
            <div class="modal-footer">
                <input name="create" class="btn btn-primary" type="submit" value="Send email"/>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>
