{% extends 'Main/topmenus.html' %}

{% load django_bootstrap5 %}
{% load i18n %}


{% block leftmenu_and_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li {% if menuactive == "users" %}class="active"{% endif %}>
          <a href="{% url 'Main:admin_users'%}">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {% trans 'Users' %}
          </a>
        </li>
        <li {% if menuactive == "entities" %}class="active"{% endif %}>
          <a href="{% url 'Main:admin_entities'%}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> {% trans 'Entities' %}
          </a>
        </li>
        <li {% if menuactive == "regions" %}class="active"{% endif %}>
          <a href="{% url 'Main:admin_regions'%}">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {% trans 'Regions' %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% block swordphish_content %}{% endblock %}

{% endblock %}
