{% extends 'Main/base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% trans 'Regions' %}{% endblock %}

{% block swordphish_content %}
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true"></div>

    <div class="starter-template">
        <div class="d-flex">
            <h3 class="page-header">{% trans 'Regions' %}</h3>
            {% if user.is_staff %}
                <button type="button" class="ms-2 btn btn-primary new" data-toggle="modal"
                        data-form="{% url 'Authent:new_region' %}"
                        data-target="#modal">{% trans 'Create Region' %}</button>
            {% endif %}
        </div>
        <div class="row g-3 align-items-center mt-2">
            <div class="col-auto">
                <label class="col-form-label" for="regions">{% trans 'Select region' %}</label>
            </div>
            <div class="col-auto">
                <select id="regions" class="form-control select dynamic" data-form="{% url 'Authent:list_regions' %}">
                </select>
            </div>
        </div>
        <div class="selected mt-3" id="users"></div>
    </div>
{% endblock %}
