{% extends 'Main/topmenus.html' %}

{% load bootstrap3 %}
{% load i18n %}


{% block leftmenu_and_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <!--<li {% if menuactive == "overview" %}class="active"{% endif %}>
          <a href="{% url 'Main:campaign_overview'%}">
            <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> {% trans 'Overview' %}
          </a>
        </li>-->
        <li {% if menuactive == "targets" %}class="active"{% endif %}>
          <a href="{% url 'Main:campaign_targets'%}">
            <span class="glyphicon glyphicon-record" aria-hidden="true"></span> {% trans 'Targets' %}
          </a>
        </li>
        <li {% if menuactive == "templates" %}class="active"{% endif %}>
          <a href="{% url 'Main:campaign_templates'%}">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {% trans 'Templates' %}
          </a>
        </li>
        <li {% if menuactive == "campaigns" %}class="active"{% endif %}>
          <a href="{% url 'Main:campaign_campaigns'%}">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> {% trans 'Campaigns' %}
          </a>
        </li>
        <!--<li {% if menuactive == "stats" %}class="active"{% endif %}>
          <a href="{% url 'Main:campaign_statistics'%}">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> {% trans 'Statistics' %}
          </a>
        </li>-->
      </ul>
    </div>
  </div>
</div>

{% block swordphish_content %}{% endblock %}

{% endblock %}
