{% load django_bootstrap5 %}
{% load i18n %}

<form class="modal-form" enctype="multipart/form-data" method="post"
      action="{% url 'Main:campaign_create_target' listid %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans 'Create new target' %}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if target_already_exists %}
                    <div class="alert alert-danger alert-dismissible">
                        <strong>{% trans 'Target already exists.' %}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="targtlistname">{% trans "Target list" %}</label>
                    <input id="targtlistname" type="text" name="targtlistname" class="form-control"
                           value="{{ targetlist.name }}" readonly>
                </div>
                {% bootstrap_form targetform %}
                <div class="form-group">
                    <button class="btn btn-success btn-sm" id="bt_add_sorte" type="button">Add attribute</button>
                </div>
                {{ attributeformset.management_form }}
                <div id="formsetZone">
                    {% for form in attributeformset %}
                        <div class="nsorte">
                            {% bootstrap_form form %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <input name="create" class="btn btn-primary" type="submit" value="Create"/>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>

<!-- Element à copier pour un ajout au formset -->
<div style="display:none;">
    <div id="eform" class="nsorte">
        {% bootstrap_form attributeformset.empty_form %}
        <div class='btn btn-warning btn-sm bt_rm_sorte'>
            <em class="bi bi-trash text-danger"></em>
        </div>
    </div>
</div>
