{% load django_bootstrap5 %}
{% load i18n %}

<form class="modal-form" method="post" action="{% url 'Main:campaign_delete_targets_list' targetlist.id %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans 'Delete Targets List' %}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if targetlistused %}
                    <div class="alert alert-danger alert-dismissible">
                        <strong>{% trans 'This list is used in a campaign.' %}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="targtlistname">{% trans "Target list" %}</label>
                    <input id="targtlistname" type="text" name="targtlistname" class="form-control"
                           value="{{ targetlist.name }}" readonly>
                </div>
                <div class="form-group">
                    <label class="control-label" for="author">{% trans "Author" %}</label>
                    <input type="text" id="author" name="author" class="form-control" value="{{ targetlist.author }}"
                           readonly>
                </div>
                <div class="modal-footer">
                    <input name="remove" class="btn btn-primary" type="submit" value="Confirm"/>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
