{% load django_bootstrap5 %}
{% load i18n %}

<form class="modal-form" enctype="multipart/form-data" method="post"
      action="{% url 'Main:campaign_edit_targets_list' listid %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans 'Edit Targets List' %}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if list_already_exists %}
                    <div class="alert alert-danger alert-dismissible">
                        <strong>{% trans 'This list already exists.' %}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% csrf_token %}
                {% bootstrap_form targetlistform %}
            </div>
            <div class="modal-footer">
                <input name="create" class="btn btn-primary" type="submit" value="Edit"/>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>
