{% load bootstrap3 %}
{% load i18n %}
<table class="table table-striped table-condensed">
	<thead>
		<tr>
            <th>{% trans "Creation date" %}</th>
			<th>{% trans "List name" %}</th>
            <th>{% trans "Author" %}</th>
            <th>{% trans "Size" %}</th>
            <th>&nbsp;</th>
        </tr>
	</thead>
	<tbody>
		{% for targetlist in targetslists.object_list %}
		<tr>
			<td class="vert-align">{{ targetlist.creation_date|date:"d/m/Y H:i"}}</td>
			<td class="vert-align">{{ targetlist.name }}</td>
			<td class="vert-align">{{ targetlist.author.user.email }}</td>
			<td class="vert-align">{{ targetlist.targets.count }}</td>
			<td class="vert-align">
				<button type="button" class="btn btn-default btn-xs edit" data-toggle="tooltip" data-placement="top" title="List Targets" data-form="{% url 'Main:campaign_list_targets' targetlist.id %}" data-target="#modal">
					  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
				</button>
				{% if targetlist.author in current_user.visible_users %}
				<button type="button" class="btn btn-default btn-xs edit" data-toggle="tooltip" data-placement="top" title="Edit Targets List"  data-form="{% url 'Main:campaign_edit_targets_list' targetlist.id %}" data-target="#modal">
				  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-xs edit" data-toggle="tooltip" data-placement="top" title="Import Targets with XLSX" data-form="{% url 'Main:campaign_import_targets_list' targetlist.id %}" data-target="#modal">
					  <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-xs download" data-toggle="tooltip" data-placement="top" title="Export Targets as XLSX"  data-form="{% url 'Main:campaign_export_targets_list' targetlist.id %}">
					  <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-xs edit" data-toggle="tooltip" data-placement="top" title="Create Target Manually" data-form="{% url 'Main:campaign_create_target' targetlist.id %}" data-target="#modal">
					  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-xs edit" data-toggle="tooltip" data-placement="top" title="Delete Targets List" data-form="{% url 'Main:campaign_delete_targets_list' targetlist.id %}" data-target="#modal">
					  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>
				{% endif %}
				<!--<button type="button" class="btn btn-default btn-sm" aria-label="Edit">
				  <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
				</button>-->
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<nav>
  <ul class="pagination">
  	{% if targetslists.has_previous %}
    <li>
      <a class="paging" data-form="{% url 'Main:campaign_list_targets_list' targetslists.previous_page_number %}" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
	<li class="disabled">
      <a href="#" disabled aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
   	{% endif %}
   	{% for page in targetslists.pages %}
   		{% if page %}
	   		{% if targetslists.number == page %}
	    		<li class="active"><a href="#">{{ page }}</a></li>
	   		{% else %}
	   			<li><a data-form="{% url 'Main:campaign_list_targets_list' page %}" class="paging" href="#">{{ page }}</a></li>
	   		{% endif %}
	   	{% else %}
        <li class="disabled"><span aria-hidden="true">...</span></li>
      {% endif %}
    {% endfor %}
    {% if targetslists.has_next %}
    <li>
      <a class="paging" data-form="{% url 'Main:campaign_list_targets_list' targetslists.next_page_number %}" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
